In [1]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [6]:
import numpy as np
data = {i : np.random.randn() for i in range(7)}
data

{0: 0.2817461528302025,
 1: 0.7690225676118387,
 2: 1.2464347363862822,
 3: 1.0071893575830049,
 4: -1.2962211091122635,
 5: 0.274991633432124,
 6: 0.22891287893531592}

In [7]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [9]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [10]:
print(tuple([4, 0, 2]))
tup = tuple('string')
tup

(4, 0, 2)

('s', 't', 'r', 'i', 'n', 'g')

In [11]:
tup[0]

's'

In [12]:
tup = tuple(['foo', [1, 2], True])
tup[2]= False

TypeError: 'tuple' object does not support item assignment

In [13]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [15]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [16]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [17]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [18]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [19]:
a, b = 1, 2
print(a)
print(b)
b, a = a, b
print(a)
print(b)

1
2
2
1

In [20]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [22]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
print(a, b)
print(rest)

1 2
[3, 4, 5]

In [23]:
a, b, *_ = values

In [24]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [26]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
print(b_list)
b_list[1] = 'peekaboo'
print(b_list)

['foo', 'bar', 'baz']
['foo', 'peekaboo', 'baz']

In [27]:
gen = range(10)
gen
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [29]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [30]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [31]:
b_list.append('foo')
print(b_list)
b_list.remove('foo')
print(b_list)

['foo', 'red', 'baz', 'dwarf', 'foo']
['red', 'baz', 'dwarf', 'foo']

In [32]:
'dwarf' in b_list

True

In [33]:
'dwarf' not in b_list

False

In [34]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [35]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [36]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [37]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [40]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
print(bisect.bisect(c, 2))
print(bisect.bisect(c, 5))
print(bisect.insort(c, 6))
print(c)

4
6
None
[1, 2, 2, 2, 3, 4, 6, 7]

In [41]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [42]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [43]:
print(seq[:5])
print(seq[3:])

[7, 2, 3, 6, 3]
[6, 3, 5, 6, 0, 1]

In [44]:
print(seq[-4:])
print(seq[-6:-2])

[5, 6, 0, 1]
[6, 3, 5, 6]

In [45]:
seq[::2]

[7, 3, 3, 6, 1]

In [46]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [47]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'bar': 1, 'baz': 2, 'foo': 0}

In [49]:
print(sorted([7, 1, 2, 6, 0, 3, 2]))
print(sorted('horse race'))

[0, 1, 2, 2, 3, 6, 7]
[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [50]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [51]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [52]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [54]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
print(first_names)
print(last_names)

('Nolan', 'Roger', 'Schilling')
('Ryan', 'Clemens', 'Curt')

In [55]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [56]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [59]:
d1[7] = 'an integer'
print(d1)
print(d1['b'])

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}
[1, 2, 3, 4]

In [60]:
'b' in d1

True

In [61]:
d1[5] = 'some value'
print(d1)
d1['dummy'] = 'another value'
print(d1)
del d1[5]
print(d1)
ret = d1.pop('dummy')
print(ret)
print(d1)

{'a': 'some value', 5: 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}
{'dummy': 'another value', 'a': 'some value', 5: 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}
{'dummy': 'another value', 'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}
another value
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [63]:
print(list(d1.keys()))
print(list(d1.values()))

['a', 'b', 7]
['some value', [1, 2, 3, 4], 'an integer']

In [64]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [65]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [66]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [68]:
print(hash('string'))
print(hash((1, 2, (2, 3))))
print(hash((1, 2, [2, 3])))

-1126865427511107817
1097636502276347782

TypeError: unhashable type: 'list'

In [69]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

In [70]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [71]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [72]:
print(a.union(b))
print(a | b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [73]:
print(a.intersection(b))
print(a & b)

{3, 4, 5}
{3, 4, 5}

In [74]:
c = a.copy()
c |= b
print(c)
d = a.copy()
d &= b
print(d)

{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}

In [75]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [77]:
a_set = {1, 2, 3, 4, 5}
print({1, 2, 3}.issubset(a_set))
print(a_set.issuperset({1, 2, 3}))

True
True

In [78]:
{1, 2, 3} == {3, 2, 1}

True

In [79]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [80]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [81]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [82]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [83]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [84]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

['Steven']

In [85]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [87]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

In [88]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [89]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [90]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [91]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [92]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [93]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [94]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [95]:
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [96]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

c
a
b

In [97]:
dict_iterator = iter(some_dict)
dict_iterator

In [98]:
list(dict_iterator)

['c', 'a', 'b']

In [99]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [100]:
gen = squares()
gen

In [101]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [103]:
print(sum(x ** 2 for x in range(100)))
print(dict((i, i **2) for i in range(5)))

328350
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [104]:
import itertools 
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [105]:
float('1.2345')
float('something')

ValueError: could not convert string to float: 'something'

In [106]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [110]:
print(attempt_float('1.2345'))
print(attempt_float('something'))

1.2345
something

In [111]:
print(float((1, 2)))

TypeError: float() argument must be a string or a number, not 'tuple'

In [112]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [113]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [114]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [115]:
attempt_float((1, 2))

(1, 2)